@import url('https://fonts.googleapis.com/css2?family=Allan&family=Anton&display=swap');

body {
    background: rgba(216, 211, 211, 0.952);
  }
  
  h1 {
    border-left: 1px dashed black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    border-radius: 20px;
    border-top-left-radius: 5px;
    font-family: 'Allan', cursive;
  }
  
  p {
    color: tomato;
  }
  .center {
    text-align: center;
  }
  
  .vermelho {
    color: rgb(255, 0, 0);
  }
  
  #teste {
    text-align: center;
    background: chartreuse;
    font-size: 30px;
  }
  
  * {
    padding: 5 px;
  }
  
  .exemplo-back {
    height: 200px;
    background: green;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210303/pngtree-neon-background-for-music-party-image_576449.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
  }
  
  .botao {
    margin-left: 45%;
    background: green;
    color: white;
    padding: 5px;
    border-radius: 30px;
    border-top-left-radius: 5px;
    text-decoration: none;
  }
  
  .botao:hover {
    background: greenyellow;
  }
  .testediv {
    background-origin: center;
    background: blue;
    height: 150px;
    width: 300px;
  }

  .aula1{

    text-align: center;
    text-transform: uppercase;
    background:black;
    text-indent: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    


  }

  a.botao1{
    background: darkgreen;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 1px solid greenyellow;
    border-radius: 5px;
  }

  
  a.botao1:hover{
    background: rgb(32, 233, 32);
    padding: 12px;
    border: 1px solid rgb(116, 185, 11);
    border-radius: 5px;
  }
  