.cttFooter{

    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    color: white;


nav{

display: flex;
width: 15%;
justify-content: space-between;
align-items: center;

}


}

.copyright{

    height: 6vh;
    color: white;
    background-color: #232020;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    }

    @media(max-width:760px){

.cttFooter{

    flex-direction: column;
    justify-content: space-evenly;

nav{

width: 60%;

}

}


    }

    .copyright{


        p{

            font-size: 12px;
            width: 60%;
            text-align: center;
        }
    }
    