@media screen and (max-width:950px) {

@import url('https://fonts.googleapis.com/css2?family=Allan&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: jedi ;
    src: url('../fontes/Starjedi.ttf') ;
}

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}


header{
display: flex;
justify-content: center;
width: 100%;
height: 835px;
background-image: url('../img/startopo2x.png');
background-position: center;
background-size: cover;
opacity: 1;
border: 1px solid red;

}


h1{
 
color: white;
font-size: 140px;
border: 5px solid red;
font-family: jedi ;
position: relative;
text-transform: uppercase;
top: 380px;
padding-left: 150px;


}

h1 span{
border: 5px solid pink;
padding-left: 500px;
color: black;

}

header h3{

color:black;
font-family: 'Open Sans', sans-serif;
font-weight:400;
padding-bottom: 20px;
border-bottom: 3px solid black;


}
header section{
display: flex;
flex-direction: column;

position: absolute;
font-size: 20px;
text-transform: uppercase;
top: 650px;
right: 250px;
    
}

header section span{
  
font-weight: bold;

}


header section h4 span{

    font-size: 15px;
 
    }



.logo1{
    
background-image: url('../img/logo3.png');

width: 72%;
height: 100vh;
background-size: 100%;
left: 175px;
position: absolute;
background-repeat: no-repeat;
border: 1px solid blue;

}



/* header a cima*/
/*Main Abaixo */


main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
}

.card1{
width: 398px;
height: 584px;
background-image: url(../img/comeceajogarimg.png);
background-position: center;
background-size: cover;
color: white ;
text-align: center;
font-family: 'Open Sans', sans-serif;
border: 1px solid green;
position: relative;
bottom:60px ;
left: 165px;
}




.section1{
    width:40%;
    height: 155vh;
    padding-left: 100px;
    background-image: url('../img/main.png');
    background-position: center;
    background-size: cover;
    opacity: 1;
    border: 5px solid pink;

}

.section1 button{
    width: 11vw;
    height: 6vh;
    position: relative;
    bottom: 30px;
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    top: 70px;
    text-decoration-line: none;
    transition:  2s;
   
}


.section1 button:hover{

box-shadow: inset 9em 0 0 black;;
font-size: 25px;
}











.section1 img{
    position: relative;
    width: 130%;
    left: 150px;
    top: 60px;
    border: 1px solid red;
    
}


.section3 img{
    position: relative;
    width: 90%;
    top: 170px;
    left: 10px;
    border: 5px solid red;
    
}
    
    

.section1 h2{
    padding-top: 70px;
    font-weight: 500;
    font-size: 50px;
    
    }

.section1 p{
font-size: 20px;
font-weight: 100;
text-align: start ;
padding-top: 80px;
padding-left: 30px;
padding-right: 30px;


}


.card2{
width: 100%;
height: 60vh;
display: flex;
flex-direction: row;
justify-items: center;
align-items: center;
font-family: 'Open Sans', sans-serif;
text-align: end;
font-size: 20px;
padding-right: 90px;
padding-left: 130px;

}


.card2 p{
font-weight: 450;
padding-top: 20px;

}

.card2 h2{
position: relative;
text-transform: uppercase;
padding-bottom: 20px;


}

.card2 img {

    width: 26rem;
    
    }
    

.card2 figure{
    padding-top: 250px;
    border: 1px solid red;
   
    
    }

.divSobreJogo{
    
    padding-top: 240px;
    padding-right: 15px;


}



.divvazia{

margin-left: 65%;
width: 35%;
height: 3px;
background-color: black;

}





    

.section2{
display: flex;
flex-direction: column;
width: 60%;
height: 155vh;

}

.section2 hr{
width: 135%;
border: 1px solid gray;
right: 490px;
top: 70px;
position: relative;



}

.section3{

display: flex;
justify-content: center;
font-family: 'Open Sans', sans-serif;
border: 1px solid blue ;
height: 95vh;


}

.section3 ul{
font-size: 20px;
list-style-type: none;

}

.section3 a {
text-transform: uppercase;
font-size: 30px;
color:black ;
text-decoration-line: none;

}

.section3 li{
padding: 10px;


}

.section3 li:hover{
position: relative;
background-color: #D74430;
background-size: 100%;


}

.section3 h2 {

    font-size: 70px;
    font-weight: 600; 
    padding-bottom: 30px;
    text-transform: uppercase;

}

.section3 div{
display: flex;

flex-direction: column;
align-items: flex-end;
text-align: end;
justify-content: center;
width: 100%;
border: 1px solid forestgreen;

}

.section3 span{

    font-weight: bold;
    font-weight: 900;

}


.section4{
display: block;
height: 250vh;

background-color: #2D2D2D;

}

.section4Efeito{
background-image: url(../img/section4/Security_stormtrooper_HUC2-FF-003301@2x.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: flex-start;
width: 50%;
height: 227px;
color: white;
 border: 1px solid red;   
 font-family: 'Open Sans', sans-serif;
padding: 15px 0px 20px 20px;
transition: 1s;
}

.mostrarTexto{

display: none;

}

.section4Efeito:hover .mostrarTexto{
    display: block;
   
}


.section4Efeito:hover {
    display: block;
    background-color: #B73F33;
    box-shadow: 0px 0px 1px 15px #B73F33;
    position: relative;
   
}


.mostrarTexto h2{
    
font-size: 30px;
}

.mostrarTexto P{

font-weight: 100;

}

.mostrarButton {
    position: relative;
    width: 11vw;
    height: 6vh;
    font-size: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 1px;
    top: 2vh;
    right: 15px;
    transition: 1s;
   

}

.mostrarButton:hover {

position: relative;
font-size: 25px;
box-shadow: inset 14rem 0 0  black;
}






.section4Efeito img{
width: 200px;
border: 1px solid red; 

}

.section4Efeito figure{
    width: 200%;
    border: 1px solid red; 
    
    }

.atributos{
    margin-top: 170px;
    margin-left: 250px;
    margin-bottom: 70px;
    border: 2px solid red;
    font-size: 50px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.section4Principal{

width: 100%;
display: flex;
flex-wrap: wrap;
flex-direction: row;


}

.section4Figure1{
    width: 50%;
    height: 50vh;
    padding-left: 130px;


}

.section4Figure1 figure{
    width: 100%;

    display: flex;
    justify-content: end;
  
}


.section4Figure1 img{

    width: 100%;
    height: 50vh;
    }

.section4Figures figure{

width: 50%;


}



.section4Figures{
width: 50%;
padding-right: 130px;
display: flex;
flex-direction: row;
justify-content: end;
flex-wrap: wrap;



}

.section4Figures img{

    width:100%;
    height: 25vh;
    padding-bottom: 5px;
    
}


.section4Hie{
padding-top: 60px;
display: flex;
width: 100%;
justify-content: center;
border: 1px solid forestgreen;

}


.section4 h3 {
color: white;
font-size: 20px;
font-weight: 100;
padding-top: 30px;
padding-right: 130px;
text-align: end;
font-family: 'Open Sans', sans-serif;


}

.section5{
width: 100%;
height: 62vh;
display: flex;
flex-direction: row;
flex-wrap: wrap;


}
.section5 figure{
width: 28vw;
bottom: 45vh;
left: 100px;
position: relative;
border: 1px solid red ;

}

.section5 img{


    width: 100%;
}

.section5Principal{
width: 65%;
height: 43vh;
display:flex;
flex-wrap: wrap;
flex-direction: row;
padding-left: 150px;
border: 1px solid orchid;

}

.section5 H2{
    width: 360px;
    height: 190px;
font-size: 50px;
padding-top: 80px;
font-weight: 100;
border:  1px solid red;
padding-bottom: 50px;
text-align: center;
font-family: 'Open Sans', sans-serif;
transition: 1s;
}

.section5 button{
color: white;
font-weight: 100;
width: 250px;
height: 65px;
font-size: 30px;
background-color: black;
font-family: 'Open Sans', sans-serif;
transition: 1s;

}

.section5Principal div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

.section5Principal div:hover button{
  
box-shadow:inset -4em 0 0  #D74430;

    
}



.section5Principal div:hover h2{
    font-weight: 900;
   font-size: 60px;
    
        
    }

    .section5Principal div:hover hr{
     
        border: 3px solid #D74430;

    }


.section5Principal p{

font-size: 23px;
font-weight: 100;
padding-top: 50px;
padding-bottom: 20px;
overflow-wrap: break-word;
font-family: 'Open Sans', sans-serif;

}

.section5Principal section{
 text-align: center;
width: 33%;


}

.section5Principal  hr{

position: relative;
top: 7vw;
width: 30%;
border: 3px solid black;
border-radius: 10px;
transition: 2s;

}

/* footer a baixo */


footer {
width: 100%;
display: flex;

}

.section6{
    width: 64%;
    height: 92vh;
    padding-left: 250px;
    background-color: #FF5A56;

}

.section6Aplicativo {
padding-top: 12vh;
color: white;
font-family: 'Open Sans', sans-serif;
}

.section6Aplicativo h2{

font-weight: 800;
font-size: 50px;

}

.section6Aplicativo p{
font-weight: 100;
padding-top: 5vh;
font-size: 20px;
}

.section6Card{

display: flex;
flex-direction: row;

}

.section6 figure{

padding: 30px 17px 50px 0px;


}

.section6Card img{

width: 100%;
height: 8vh;

}


.section6 hr{
width: 56%;
border: 3px solid #D74430;
border-radius: 5px;

}

.section6Logo h2{
position: relative;
top: 1vh;
left: 25px;
color: white;
display: flex;
flex-wrap: wrap;
width: 10vh;
font-size: 85px;
font-family: jedi ;

}
.section6Logo span{

position: relative;
bottom: 7vh;
right: 10px;
}

.section6Logo p{
position: relative;
font-weight: 100;
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 20px;
bottom: 5vh;

}

.section7{
width: 36%;
height: 92vh;
display: flex;
flex-wrap: wrap;
justify-content: center;

}

.section7 p{
position: relative;
top: 81vh;
left: 3vh;
font-size: 20px;
font-family: 'Open Sans', sans-serif;

}

.darth{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: end;
    bottom: 20vh;
    right: 8vw;
    }


}
