
/* SmartPhones 375px para baixo */
@media only screen and (max-width:375px){
        @import url('https://fonts.googleapis.com/css2?family=Allan&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    
        @font-face {
            font-family: jedi ;
            src: url('../fontes/Starjedi.ttf') ;
        }
        
        *{
        
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
        }
        
        
        header{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 24vh;
        background-image: url('../img/startopo2x.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 1;
    
        }

        .starWars{
            position: relative;
            top: 11vh;
            display: inline;
            align-items: center;
            text-align: center;
            width: 70%;
           
        }

        .starWars h1{
            position: relative;
            right: 5vh;
            color: white;
            font-family: jedi ;
            text-transform: uppercase;
            
        }
            
h1 span{
    position: relative;
    left: 19vh;
    color: black;
    
    }

    header h3{

        color:black;
        font-family: 'Open Sans', sans-serif;
        font-weight:400;
        padding-bottom: 20px;
        border-bottom: 3px solid black;
        
        
 }
.legiao{
display: flex;
flex-direction: column;
position: absolute;
font-size: 6px;
text-transform: uppercase;
top: 130px;
right: 25px;
            
}
.legiao span{
          
font-weight: bold;
        
}
        
        
.legiao h4 span{
        
font-size: 15px;
         
 }
        
.logo1{
    
background-image: url('../img/logo3.png');
width: 72%;
height: 30vh;
background-size: 100%;
left: 9vw;
position: absolute;
background-repeat: no-repeat;


}   


/* header a cima*/
/*Main Abaixo */


main{
    width: 100%;
    display: flex;
    flex-direction: column;
      
  }

  .section1{
    width:100%;
    height: 78vh;
    background-image: url('../img/main.png');
    background-position: center;
    background-size: cover;
    opacity: 1;
    border: 1px solid pink;

}
   
  .card1{
    position: relative;
    width: 222px;
    height: 328px;
    background-image: url(../img/comeceajogarimg.png);
    background-position: center;
    background-size: cover;
    color: white ;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    top: 8vh;
    left: 40vw;
    
    }

    
    .section1 button{
        width: 70%;
        height: 6vh;
        position: relative;
        bottom: 20px;
        color: white;
        border-color: white;
        background-color: transparent;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 10px;
        top: 50px;
        text-decoration-line: none;
        transition:  2s;
       
    }
    
    
    .section1 button:hover{
    
    box-shadow: inset 9em 0 0 black;;
    font-size: 20px;
    }

    .section1 h2{
        padding-top: 35px;
        font-weight: 500;
        font-size: 30px;
        
        }
    
    .section1 p{
    font-size: 10px;
    font-weight: 100;
    text-align: start ;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
    
    }
    
    

.card2{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-end;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    bottom: 24vh;
    font-size: 10px;
    
    }
    
    
    .card2 p{
    font-weight: 450;
    padding-top: 1vh;
    text-align: end;
    
    }
    
    .card2 h2{
    text-align: end;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 1vh;
    
    
    }
    
    .card2 img {
    
        width: 59vw;
        height: 22vh;
        
        }
        

    
    .divSobreJogo{
        
        padding-left: 15vw;
       
    
    }

    .divvazia{

        margin-left: 62%;
        width: 38%;
        height: 3px;
        background-color: black;
        
        }

        .section2{
            width: 100%;
            height: 60vh;
           
        }
    

            
            .section2 hr{
            position: relative;
            width: 80%;
            border: 3px solid gray;
            border-radius: 2px;
            bottom: 22vh;
            left: 10vw;
            
            
            
            }

            /* Estrutura Do Jogo Imagens */

            .section1 img{
                position: relative;
                width: 56%;
                height: auto;
                top: 62vh;
                
                
            }
            
            
            .section3 img{
                position: relative;
                width: 30%;
                height: auto;
                bottom: 42vh;
              
                
            }
               /* Estrutura Do Jogo Imagens */ 

               
.section3{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    
    
    
    
    }
    
    .section3 ul{
        font-size: 12px;
        list-style-type: none;
        
        }
    .section3 a {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    color:black ;
    text-decoration-line: none;

    }
    
    .section3 li{

    
    }
    
    .section3 li:hover{
    position: relative;
    background-color: #D74430;
    background-size: 100%;
  
    
    }
    
    .section3 h2 {
      
        font-size: 20px;
        font-weight: 100; 
        padding-bottom: 1px;
        text-transform: uppercase;
    
    }
    
    .section3 div{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 18vh;
    
    }
    
    .section3 span{
    
        font-weight: bold;
        font-weight: 900;
    
    }



    
.section4{
    width: 100%;
    display: block;
    height: 200vh;
    
    background-color: #2D2D2D;
    
    }
    
    .section4Efeito{
    background-image: url(../img/section4/Security_stormtrooper_HUC2-FF-003301@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 25vh;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 0px 20px 20px;
    transition: 1s;
    }
    
    .mostrarTexto{
    
    display: none;
    
    }
    
    .section4Efeito:hover .mostrarTexto{
        display: block;
       
    }
    
    
    .section4Efeito:hover {
        display: block;
        background-color: #B73F33;
        box-shadow: 0px 0px 1px 15px #B73F33;
        position: relative;
       
    }
    
    
    .mostrarTexto h2{
        
    font-size: 20px;
    }
    
    .mostrarTexto P{
    
    font-weight: 100;
    font-size: 13px;
    
    }
    
    .mostrarButton {
        position: relative;
        width: 25vw;
        height: 6vh;
        font-size: 16px;
        background: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 1px;
        top: 2vh;
        right: 15px;
        transition: 1s;
       
    
    }
    
    .mostrarButton:hover {
    
    position: relative;
    font-size: 18px;
    box-shadow: inset 14rem 0 0  black;
    }
    
    
    .atributos{
        text-align: center;
        padding-top: 6vh;
        font-size: 20px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    
    }
    
    .section4Principal{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
    }
    
    .section4Figure1{
        width: 100%;
        height: 25vh;
        padding-left: 10vw;
        padding-right: 10vw;
    
    
    }

     
    .section4Figure1 img{
    
        width: 100%;
        height: 25vh;
        }
    
    .section4Figure1 figure{
        width: 100%;
        height: 40vh;
        display: flex;
        justify-content: end;
      
    }
    
   
    
    .section4Figures figure{
    
    width: 100%;
    
    
    }
    
    
    
    .section4Figures{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;

    
    }
    
    .section4Figures img{
    
        width:100%;
        height: 25vh;
     
        
    }
    
    
    .section4Hie{
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;

    
    }

    .section4Hie img{
    
      width: 100%;
      
        
        }

   
    .section4 h3 {
    color: white;
    font-size: 10px;
    font-weight: 100;
    padding-top: 2px;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: end;
    font-family: 'Open Sans', sans-serif;
    
    
    }

    .comoJogar{
    color: white;
    font-size: 20px;
    text-align: end;
    padding-top: 4vh;
    padding-left: 10vw;
    padding-right: 10vw;

    }

    
.section5{
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: row;

    
    
    }

    .stortm{
        position: relative;
        width: 40%;
       
        
    }
   
    
    .section5 img{
        position: relative;
        right: 40vw;
        bottom: 14vh;
        width: 100vw;
        height: auto;
    }
    
    .section5Principal{
    width: 60%;
    display:flex;
    flex-direction: column;
    
    }
    
    .section5 H2{
    width: 160px;
    height: 5vh;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 45px;
    font-weight: 100;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    transition: 1s;
    }
    
    .section5 button{
    color: white;
    font-weight: 100;
    width: 40vw;
    height: 7vh;
    font-size: 20px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    transition: 1s;
    
    }
    
    .section5Principal div{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        
        }
    
    .section5Principal div:hover button{
      
    box-shadow:inset -4em 0 0  #D74430;
    
        
    }
    
    
    
    .section5Principal div:hover h2{
        font-weight: 900;
       font-size: 40px;
        
            
        }
    
        .section5Principal div:hover hr{
         
            border: 3px solid #D74430;
    
        }
    
    
    .section5Principal p{
    width: 100%;
    font-size: 12px;
    font-weight: 100;
    overflow-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
         
    
    }
    
    .section5Principal section{
    
        text-align: center;

    }
    
    .section5Principal  hr{
    
    position: relative;
    top: 12vw;
    width: 15vw;
    border: 3px solid black;
    border-radius: 10px;
    transition: 2s;
    
    }




    
/* footer a baixo */


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    
    .section6{

        width: 100%;
        height: 120vh;
        background-color: #FF5A56;
    
    }
    
    .section6Aplicativo {
    padding-top: 6vh;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    }
    
    .section6Aplicativo h2{
    
    font-weight: 900;
    font-size: 50px;
    
    }
    
    .section6Aplicativo p{
    font-weight: 100;
    padding-top: 1vh;
    font-size: 15px;
    }
    
    .section6Card{
    
    display: flex;
    flex-direction: row;
    padding-left: 10vw;
    padding-right: 10vw;
    
    }
    
    .section6 figure{
    
    padding: 30px 17px 50px 0px;
    
    
    }
    
    .section6Card img{
    
    width: 100%;
    height: 6vh;
    
    }
    
    
    .section6 hr{
    position:relative ;
    left: 10%;
    right: 10%;
    width: 80%;
    border: 3px solid #D74430;
    border-radius: 5px;
    
    }

    .section6Logo{

    padding-left: 10vw;
    padding-right: 10vw;


    }
    
    .section6Logo h2{
    position: relative;
    top: 1vh;
    left: 20vw;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 10vh;
    font-size: 60px;
    font-family: jedi ;
    
    }
    .section6Logo span{
    
    position: relative;
    bottom: 7vh;
    right: 10px;
    }
    
    .section6Logo p{
    position: relative;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    bottom: 5vh;
    
    }

    
.section7{
    width: 100%;
    height: 48vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .section7 p{
    position: relative;
    top: 38vh;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
    }
    
    .darth{
        display: flex;
        position: relative;
        width: 100%;
        height: 60vh;
        bottom: 32vh;
        padding-left: 10vw;
    
        
        }
    
    
    
    
    
    


}



