@import url('https://fonts.googleapis.com/css2?family=Allan&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: jedi ;
    src: url('../fontes/Starjedi.ttf') ;
}

*{

margin: 0;
padding: 0;
box-sizing: border-box;

}


header{
display: flex;
justify-content: center;
width: 100%;
height: 835px;
background-image: url('../img/startopo2x.png');
background-position: center;
background-size: cover;
opacity: 1;
border: 1px solid red;

}


h1{
 
color: white;
font-size: 140px;
border: 5px solid red;
font-family: jedi ;
position: relative;
text-transform: uppercase;
top: 380px;
padding-left: 150px;


}

h1 span{
border: 5px solid pink;
padding-left: 500px;
color: black;

}

header h3{

color:black;
font-family: 'Open Sans', sans-serif;
font-weight:400;
padding-bottom: 20px;
border-bottom: 3px solid black;


}
header section{
display: flex;
flex-direction: column;

position: absolute;
font-size: 20px;
text-transform: uppercase;
top: 650px;
right: 250px;
    
}

header section span{
  
font-weight: bold;

}


header section h4 span{

    font-size: 15px;
 
    }



.logo1{
    
background-image: url('../img/logo3.png');

width: 72%;
height: 100vh;
background-size: 100%;
left: 175px;
position: absolute;
background-repeat: no-repeat;
border: 1px solid blue;

}



/* header a cima*/
/*Main Abaixo */


main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
}

.card1{
width: 398px;
height: 584px;
background-image: url(../img/comeceajogarimg.png);
background-position: center;
background-size: cover;
color: white ;
text-align: center;
font-family: 'Open Sans', sans-serif;
border: 1px solid green;
position: relative;
bottom:60px ;
left: 165px;
}




.section1{
    width:40%;
    height: 155vh;
    padding-left: 100px;
    background-image: url('../img/main.png');
    background-position: center;
    background-size: cover;
    opacity: 1;
    border: 5px solid pink;

}

.section1 button{
 
    position: relative;
    bottom: 30px;
    color: white;
    border-color: white;
    background-color: transparent;
  
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    top: 70px;
    text-decoration-line: none;
}


.section1 button:hover{

background-color: black;
transition:  3s;
font-size: 35px;
}









.section1 img{
    position: relative;
    width: 130%;
    left: 150px;
    top: 60px;
    border: 1px solid red;
    
}


.section3 img{
    position: relative;
    width: 90%;
    top: 170px;
    left: 10px;
    border: 5px solid red;
    
}
    
    

.section1 h2{
    padding-top: 70px;
    font-weight: 500;
    font-size: 50px;
    
    }

.section1 p{
font-size: 20px;
font-weight: 100;
text-align: start ;
padding-top: 80px;
padding-left: 30px;
padding-right: 30px;


}


.card2{
width: 100%;
height: 60vh;
display: flex;
flex-direction: row;
justify-items: center;
align-items: center;
font-family: 'Open Sans', sans-serif;
text-align: end;
font-size: 20px;
padding-right: 90px;
padding-left: 130px;

}


.card2 p{
font-weight: 450;
padding-top: 20px;

}

.card2 h2{
position: relative;
text-transform: uppercase;
padding-bottom: 20px;


}

.card2 img {

    width: 26rem;
    
    }
    

.card2 figure{
    padding-top: 250px;
    border: 1px solid red;
    
    
    }

.divSobreJogo{
    
    padding-top: 240px;
    padding-right: 15px;


}



.divvazia{

margin-left: 65%;
width: 35%;
height: 3px;
background-color: black;

}





    

.section2{
display: flex;
flex-direction: column;
width: 60%;


}

.section2 hr{
width: 135%;
border: 1px solid gray;
right: 490px;
top: 70px;
position: relative;



}

.section3{

display: flex;
justify-content: center;
font-family: 'Open Sans', sans-serif;
border: 4px solid blue ;



}

.section3 ul{
font-size: 20px;
list-style-type: none;

}

.section3 a {
text-transform: uppercase;
font-size: 30px;
color:black ;
text-decoration-line: none;

}

.section3 li{
padding: 10px;


}

.section3 li:hover{
position: relative;
background-color: #D74430;
background-size: 100%;


}

.section3 h2 {

    font-size: 70px;
    font-weight: 600; 
    padding-bottom: 30px;
    text-transform: uppercase;

}

.section3 div{
display: flex;
height: 95vh;
flex-direction: column;
align-items: flex-end;
text-align: end;
justify-content: center;
width: 100%;
border: 1px solid forestgreen;

}

.section3 span{

    font-weight: bold;
    font-weight: 900;

}





