@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
   width: 100%;
    height: 14vh;
    background-color:#ff69b4;
  
    display: flex;
    border: 1px solid rgb(34, 221, 50);
   
}

header nav{
width: 100%;
display: flex;
border: 1px solid rgb(66, 21, 189);

}

header nav img {

width: 100px;
height: 100px;


}

.menu1 {
    display: flex;
    width: 40%;
    border: 1px solid rgb(20, 158, 38);
    padding-top: 20px;
    padding-left: 100px;


}

.menu2 {

    
    width: 60%;
    border: 1px solid red;
    text-align: left;
    padding: 40px;

}

header nav a {


    font-family: "Noto Sans", sans-serif;
    font-size: 28px;
    color: #E4EEF1;
    text-decoration: none;
    margin: 20px;
    border: 1px solid red;


}

.menulateral {


}

.section1 {

    display: flex;
    height: 40vh;
    border: 1px solid red;
    background-color:#ffd9ec;


}

.section1 p{

    font-family: "Noto Sans", sans-serif;
    font-size: 25px;
    width: 60%;
    padding-top: 50px;
    padding-left: 100px;
   
    
}



.section1 figure{

    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid red;
    
}

.section1 img{

display: flex;
align-items: center;
width: 360px;
height: 360px;
margin-right: 100px;


}

.section2{
    display: flex;
    border: 1px solid red;
    background-color:#ff69b4;
    

}

.section2 p{
color: white;
    font-family: "Noto Sans", sans-serif;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    width: 70%;
    font-size: 25px;
    border: 1px solid red;

}

.section2 figure{

    width: 30%;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section2 img{

    display: flex;
    align-items: center;
    width: 421px;
    height: 234px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    }

.section3{
    display: flex;
   
    justify-content: center;
    border: 1px solid red;
    background-color:#ffd9ec;
}

.section3 figure{

padding: 90px;
border: 1px solid red;

}



figure img{
    height: 30vh;
}

footer{
    width: 100%;
    height: 18vh;
    background-color:#ff69b4;
    color: white;
    display: flex;
    justify-content: center;
    border: 1px solid red;
   
}
.social{

display: flex;
justify-content: center;
align-items: center;
padding-right: 300px;
width: 33.3%;
border: 1px solid red;

}

.social figure{

margin: 10px;

}
.social img{


width: 50px;
height: 50px;



}

.sobre{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    align-items: center;
    border: 1px solid red;


}

.sobre p {

    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
    width: 33.3%;
    border: 1px solid red;


}

.icon img {
width: 105px;
height: 109px;

}





/*----------- responsivo--------------------- */
@media only screen and (max-width:400px){

 
    header{
       
       
        background-color:#ff69b4;
        display: flex;
        width: 100vw;
        height: 24vh;
        flex-direction: column;
    
       
    }
    
    header nav{
    
    display: flex;
    flex-direction: column;
  
    
    }
    
    header nav img {
    
    width: 50px;
    height: 50px;
    
    
    }

    .menulateral{
        margin-top: 10px;
        
    }
    
    .menu1 {
        display: flex;
        width: 100vw;
    
       
    
    
    }
    
    .menu2 {
    
        width: 100vw;
      
        padding: 2px;
    
    }
    
    header nav a {
    
    
        font-family: "Noto Sans", sans-serif;
        font-size: 18px;
        color: #E4EEF1;
        text-decoration: none;
        margin: 50px;
      
    
    
    }

    
.section1 {

    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 72vh;
    background-color:#ffd9ec;


}

.section1 div {
display: flex;
flex-direction: column;





}

.section1 p{

    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    width: 100vw;
    height: 30vh;
    padding: 0;
    padding-top: 30px;
    text-align: center;

    

    
}



.section1 figure{
display: flex;
flex-direction: column;
 width: 100vw;
 height: 40vh;

   
    
}

.section1 img{


    width: 100%;
    height: 100%;
    


}

.section2{
    display: flex;
    flex-direction: column;
   align-items: center;
 
    width: 100vw;
    height: 52vh;
   
    background-color:#ff69b4;
    

}

.section2 div{
    display: flex;


}



.section2 p{
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    width: 100vw;
    height: 30vh;
    padding: 0;
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    

}

.section2 figure{
    
     width: 100vw;
     height: 100vh;
    
}

.section2 img{

    padding: 0%;
    width: 100%;
   
    
    
    }


    .section3{
        display: flex;
       flex-wrap: wrap;
        justify-content: center;
      
        background-color:#ffd9ec;
    }
    
    
    .section3 figure{

        padding: 40px;
        
        
        }

        footer{
            width: 100vw;
            height: 60vh;
            background-color:#ff69b4;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
           
           text-align:center;
         
           
        }
        .social{
        
        display: flex;
      
        padding: 0px;
        padding-bottom: 20px;
        
        }
        
        .social figure{
        
        margin: 15px;
        
        }
        .social img{
        
        
        width: 80px;
        height: 80px;
        
        
        
        }
        
        .sobre{
            display: flex ;
           
            align-items: center;
           
        
        
        }

        
        
        .sobre p {
            width: 100vw;
            font-size: 25px;
            font-family: "Noto Sans", sans-serif;
            
        }
        
        .icon{
           

          
         display: flex;
    
           
            padding: 0px;
            padding-top: 20px;
        
        
        }
        
        .icon img {
        width: 105px;
        height: 109px;
        
        }
     
}