 
*{
        
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
}


h1{

text-align: center;


}


figure{
    display: flex;
    justify-content: center;


}

figure img{

width: 20vw;
height: 20vh;


}
.Materias {

text-align: center;
}

.Materias li{
    padding-top: 5px;
    list-style : none;
    
}

