@media screen and (max-width:900px) {



    .txth1{

        text-align: right;
        font-size: 15px;
        padding-top: 40px;
        color: white;
        
        }
        
        .menua{

            text-decoration: none;
            color: white;
            padding: 10px;
            font-size: 10px;
            
            }

        .menu2a{

            text-decoration: none;
            color: white;
            padding: 10px;
            font-size: 10px;
            
            
            }

            .icone{

                background-image: url(https://img.icons8.com/windows/512/hand-cursor.png);
                background-position: center;
                padding-top: 0px;
                background-repeat: no-repeat;
                background-size: 10px;
                
            
            }

            .social{
                width: 40%;
                margin-left: 10%;
                text-align: left;
                padding-top: 30px;
                border: 1px solid red;
                
                
                
                }
                
                .contato{
                width: 50%;
                padding-top: 50px;
                text-align: center;
                border: 1px solid red;
                
                }

            .social1{

                margin: 5px;
                width: 35px;
                margin-right: 20px;
                border: 1px solid red;
                
                }

                .contato1{

                    text-align: center;
                    text-decoration: none;
                    color: white;
                    font-size: 10px;
                    padding: 40px;
                    
                    
                    }


}


