@media screen and (max-width:1050px) {

.homelife{

    width: 40%;
    text-align: right;
    padding-top: 140px;
    color: white;
    font-size: 25px;
    border: 1px solid red;
    

}

.imglife{

    width: 40%;
    padding-right: 200px;
    
    border: 1px solid red;
    }


}